[user]
	name = Biesiadziak
	email = biesiada.bartek@gmail.com
[safe]
	directory = /home/bartek/Projects/Inzynierka/robot40human_ws
[credential]
	helper = "!f() { /root/.vscode-server/bin/848b80aeb52026648a8ff9f7c45a9b0a80641e2e/node /tmp/vscode-remote-containers-6bfab201-ec84-4761-8f4c-7fc80802271c.js git-credential-helper $*; }; f"
